.navbar {
    position: sticky;
    top: 0;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3c3c3c;
    z-index: 1;
    img {
        width: 20%;
        height: 100%;
        animation: App-logo-spin infinite 20s linear;
    }

    .link {
        text-decoration: none;
    }

    .box-1 {
        height: 33.33%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3c3c3c;
    }
    .btn {
        line-height: 50px;
        height: 50px;
        text-align: center;
        width: 5rem;
        cursor: pointer;
    }
    .btn-one {
        color: #fff;
        transition: all 0.3s;
        position: relative;
    }
    .btn-one span {
        transition: all 0.3s;
    }
    .btn-one::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-color: rgba(255, 255, 255, 0.5);
        border-bottom-color: rgba(255, 255, 255, 0.5);
        transform: scale(0.1, 1);
    }
    .btn-one:hover span {
        letter-spacing: 2px;
    }
    .btn-one:hover::before {
        opacity: 1;
        transform: scale(1, 1);
    }
    .btn-one::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s;
        background-color: rgba(255, 255, 255, 0.1);
    }
    .btn-one:hover::after {
        opacity: 0;
        transform: scale(0.1, 1);
    }

    .stats {
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        article {
            position: relative;
            overflow: hidden;
            transform: translateZ(0);
            display: flex;
            align-items: center;
            width: 5.5rem;
            height: 3.5rem;
            padding-left: 1.25rem;
            border-radius: 1rem;
            background: #ffffff;
            cursor: pointer;
        }

        .background {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: -230px;
            transform: translate(-3.5rem, -50%);
            width: 300px;
            height: 300px;
            background: #8f44fd;
            transition: 0.3s all;
        }

        .icon {
            position: absolute;
            top: 50%;
            left: 1.5rem;
            z-index: 2;
            transform: translate(0.75rem, -50%);
            font-size: 2rem;
            transition: 0.3s all;
        }

        .content {
            font-size: 1.25rem;
        }

        article:hover .background {
            border-radius: 50%;
            transform: translate(0, -50%);
        }

        article:hover .icon {
            transform: translate(0, -50%);
            color: #ffffff;
        }
    }
}
